@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Dosis', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme: #333;
    --color: rgb(233 231 231);
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--theme);
    transition: background-color 0.2s;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color);
    border-radius: 3px;
    transition: background-color 0.2s;
}

#container {
    width: 100%;
    height: 100%;
    filter: blur(5px);
}

a {
    text-decoration: none;
    color: black;
}

#bag-container {
    width: 100%;
    height: 85%;
    max-height: 200%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    background-color: var(--theme);
    color: var(--color);
    transition: color 0.2s, background-color 0.2s;
}

#checkout-container {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 20px;
}

.checkout-title {
    font-size: 20px;
}

hr {
    opacity: 0.75;
}

.checkout-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-size: 25px;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#checkout-btn {
    width: 100%;
    height: 7vh;
    outline: none;
    border: 1px solid gray;
    background-color: orange;
    border-radius: 30px;
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
}