@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Dosis', sans-serif;
    background-color: var(--theme);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme: #333;
    --color: rgb(233 231 231);
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--theme);
    transition: background-color 0.2s;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color);
    border-radius: 3px;
    transition: background-color 0.2s;
}

#container {
    width: 100%;
    height: 100%;
    filter: blur(5px);
}

a {
    text-decoration: none;
    color: black;
}

#bag-container {
    width: 100%;
    height: 85%;
    max-height: 200%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 50px;
    background-color: var(--theme);
    color: var(--color);
    transition: color 0.2s, background-color 0.2s;
}

#checkout-container {
    width: 30%;
    height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 20px;
}

.checkout-title {
    font-size: 40px;
}

hr {
    opacity: 0.75;
    width: 100%;
}

.checkout-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-size: 25px;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bold {
    font-size: 30px;
    font-weight: bold;
}

.value {
    display: none;
}

.remove-minus {
    display: none;
}

.minus.remove-minus ~ .value{
    display: inline;
}

#checkout-btn {
    width: 100%;
    height: 7vh;
    outline: none;
    border: 1px solid gray;
    background-color: orange;
    border-radius: 30px;
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

#checkout-btn:hover {
    background-color: transparent;
    color: darkorange;
    border-color: orange;
}

#shop-note {
    color: orangered;
    font-size: 13px;
}

#product-list {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

#product-list::-webkit-scrollbar {
    width: 5px;
}

#product-list > hr {
    width: 90%;
}

.product-container {
    width: 100%;
    height: 34vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.img-container {
    width: 25%;
    height: 100%;
}

.img-container > img {
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}

.product-info {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 15px;
}

.product-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.product-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    font-size: 35px;
}

.brand {
    font-size: 15px;
}

.btns {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
}

.fav-btn, .remove-btn {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: var(--color);
    cursor: pointer;
    transition: color 0.2s;
}

.fav-btn:hover {
    color: tomato;
}

.remove-btn:hover {
    color: red;
}

.colors {
    display: flex;
    align-items: center;
    gap: 10px;
}

.color {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s;
}

.color:hover {
    opacity: 1;
}

.product-foot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.size-quantity {
    display: flex;
    align-items: center;
    gap: 15px;
}

.size-quantity > div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}

.size, .quantity {
    outline: none;
    background-color: var(--theme);
    width: 60%;
    color: var(--color);
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    transition: color 0.2s, background-color 0.2s;
}

option {
    background-color: var(--theme);
    color: var(--color);
    outline: none;
    cursor: pointer;
    font-size: 15px;
    transition: color 0.2s, background-color 0.2s;
}

option:disabled {
    opacity: 0.75;
    text-decoration: line-through;
}

.freesize {
    display: none;
    font-size: 20px;
}

.show-freesize {
    display: inline;
}

.freesize.show-freesize ~ p ~ .size {
    display: none;
}

.product-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price {
    font-size: 35px;
}

.offer-price {
    font-size: 35px;
    display: none;
}

.line-through {
    text-decoration: line-through;
    opacity: 0.75;
    font-size: 25px;
}

.price.line-through ~ .offer-price {
    display: inline;
}

.login-msg, .empty-msg {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    display: none;
}

.show-empty-msg, .show-login-msg {
    display: flex;
}

.isFav {
    color: tomato;
}

.border-red {
    border: 1px solid red;
}

.chosen-color {
    opacity: 1;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    font-family: 'Dosis', sans-serif;
    background-color: darkorange;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus {
    box-shadow: 0 0 0 3px #ffa500bd;
}

body.swal2-height-auto {
    height: inherit !important;
}