@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--theme);
    scrollbar-width: 10px;
    scrollbar-color: var(--color) var(--theme);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

:root {
    --theme: #333;
    --color: rgb(233 231 231);
}

#container {
    width: 100%;
    height: 100%;
    background-color: var(--theme);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--color);
    padding: 50px;
    filter: blur(5px);
    transition: background-color 0.2s, color 0.2s;
}

a {
    text-decoration: none;
    color: rgb(1, 159, 161);
}

#login-form{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    border: 1px solid transparent;
    border-radius: 60px 20px;
    box-shadow: 0px 0px 20px 0px rgb(208, 119, 11);
    background-color: var(--theme);
    transition: background-color 0.2s;
}

.input-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--color);
    color: var(--color);
    border-radius: 0px;
}

.input:focus {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color);
    outline: none;
    box-shadow: none;
    color: var(--color);
}

.form-floating > .form-control {
    padding: 0;
}

.form-control {
    padding: 0;
}

.form-floating > label {
    padding: 1rem 0;
    border: none;
}

.form-floating>.form-control:focus~label{
    color: gray;
}

.form-floating>.form-control:focus~label::after {
    background-color: transparent;
}

.form-floating>.form-control:not(:placeholder-shown)~label::after {
    background-color: transparent;
}

.form-floating>.form-control:not(:placeholder-shown) ~ label {
    color: gray;
}

.error-msg {
    color: tomato;
    display: none;
}

.error ~ .error-msg {
    display: inline;
}

.error, .error:focus{
    border-color: tomato;
}

.error ~ label {
    color: tomato;
}

.form-floating > .error:not(:placeholder-shown) ~ label {
    color: tomato;
}

.email-error-icon, .pass-error-icon {
    color: tomato;
    position: absolute;
    right: 0;
    bottom: 45px;
    display: none;
}

.pass-error-icon {
    bottom: 95px;
}

.error ~ .pass-error-icon {
    display: inline;
}

.error ~ .email-error-icon {
    display: inline;
}

#checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-check-input , .form-check-label {
    cursor: pointer;
}

.form-check-input {
    border-color: var(--color);
}

.button {
    outline: none;
    border: none;
    height: 45px;
    font-size: 22px;
    border-radius: 20px;
}

#login-btn {
    background-color: orange;
    border: 1px solid #333;
    color: var(--color);
}

#social-login {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#google-login, #facebook-login{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid #333;
    color: #333;
    cursor: pointer;
}

#text-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
    border-radius: 60px 20px;
}

#img-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-container > img{
    width: 100%;
    height: auto;
}

#social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#social-links > button {
    outline: none;
    border: 1px solid transparent;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    padding-top: 2px;
    font-size: 18px;
    cursor: pointer;
}

#social-links a {
    color: whitesmoke;
}

#tel-btn {
    background-color: cornflowerblue;
}

#insta-btn {
    background-color: #ff1d6e;
}

#x-btn {
    background-color: black;
}

#site-btn {
    background-color: darkslategray;
}

#email-btn {
    background-color: crimson;
}

#signup-link {
    padding-top: 10px;
}

.modal-box{
    width: 240px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
    top: 10px;
    color: var(--color);
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: green;
    display: none;
}

.showModal {
    display: flex;
    animation: showModal 0.5s;
}

.hideModal {
    display: flex;
    animation: hideModal 0.5s;
}

@keyframes showModal {
    from {display: none; left: -250px;}
    to {display: flex; left: 10px;}
}

@keyframes hideModal {
    from {
        left: 10px;
        display: flex;
    }
    to {
        left: -250px;
        display: none;
    }
}

/* Tablets (portrait and landscape) */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
    #login-form {
        width: 40%; /* Makes the form wider on tablets since they have more space than phones but less than desktops */
        padding: 20px;
    }

    .input-box {
        gap: 8px;
    }

    .input {
        font-size: 14px;
    }

    #checkbox-container, #social-login, #text-container {
        flex-direction: row; /* Aligns elements in a row for tablets */
        gap: 8px;
        justify-content: start; /* Align content to the start */
    }
    
    #img-container > img {
        max-width: 80%; /* Reduces image size to fit tablet screens */
    }
    
    #signup-link {
        text-align: center; /* Centers the sign-up link */
    }
}

/* Mobile Phones */
@media only screen and (max-device-width: 480px) {
    #container {
        flex-direction: column;
        padding: 20px;
        overflow: auto;
        gap: 10px;
    }

    #login-form {
        width: 95%;
        margin-top: 20px;
        border-radius: 25px 10px;
    }

    #text-container {
        width: 100%;
        padding-top: 60px;
    }

    .input {
        font-size: 14px;
    }

    .pass-error-icon {
        bottom: 80px;
    }

    #checkbox-container {
        padding-top: 15px;
    }

    #login-btn {
        font-size: 25px;
        border-radius: 30px;
        margin-top: 15px;
    }
    
    #social-links {
        padding: 0;
        margin-top: -40px;
    }
    
    #social-links > button {
        width: 30px; /* Sizes social buttons for an easier touch target */
        height: 30px;
        font-size: 16px;
    }

    #signup-link {
        margin-bottom: 0;
        font-size: 13px;
    }

    svg {
        width: 25px;
        height: 25px;
    }

    #google-login, #facebook-login {
        font-size: 20px;
    }
    
    .modal-box {
        width: 100%; /* Full width modal for mobile */
        top: 20px; /* Adjusts position */
        align-items: center;
        justify-content: center;
    }
}